---
// src/components/InfiniteCarousel.astro
import { useState } from "preact/hooks";

import { Image } from "astro:assets";
import leila_falando from "../assets/leila-falando.jpg";
import leila_palestra from "../assets/leila-palestra.jpg";
import leila_palestra_pandemia from "../assets/leila-palestra-pandemia.jpg";
import m from "../assets/m.jpg";
import n from "../assets/n.jpg";
import k from "../assets/k.jpg";
import s from "../assets/s.jpg";
import u from "../assets/u.jpg";
import i from "../assets/i.jpg";
import j from "../assets/j.jpg";
import h from "../assets/h.jpg";
---

<style>
    .carousel-container {
        width: 100%;
        overflow: hidden;
        position: relative;
        text-align: center;
        margin: 2rem 0;
        background: var(--secondary);
    }

    .carousel-title {
        text-align: center;
        font-size: 1.5rem;
        margin-bottom: 1rem;
        transition: opacity 0.3s ease;
    }

    .carousel-track {
        display: flex;
        width: max-content;
        animation: scroll 36s linear infinite;
        align-content: center;
    }

    .carousel-track:hover {
        animation-play-state: paused;
    }

    .carousel-track:hover ~ .carousel-title {
        opacity: 0;
    }

    .carousel-item {
        width: 2.5%;
        height: auto;
        margin: 0 10px;
        background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        color: #333;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        flex-shrink: 0;
        transition: transform 0.3s ease;
    }

    .carousel-item > img {
        width: 1fr;
        aspect-ratio: 1/1;
        align-content: center;
    }

    .carousel-item:hover {
        transform: scale(1.05);
    }

    @keyframes scroll {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-50%);
        }
    }
</style>

<div class="carousel-container">
    <h2>Fotos</h2>

    <div class="carousel-track">
        <div class="carousel-item">
            <Image src={leila_falando} alt="Leila falando" />
        </div>
        <div class="carousel-item">
            <Image src={leila_palestra} alt="Leila palestra" />
        </div>
        <div class="carousel-item">
            <Image
                src={leila_palestra_pandemia}
                alt="Leila palestra durante a pandemia"
            />
        </div>
        <div class="carousel-item">
            <Image src={m} alt="Imagem M" />
        </div>
        <div class="carousel-item">
            <Image src={n} alt="Imagem N" />
        </div>
        <div class="carousel-item">
            <Image src={k} alt="Imagem K" />
        </div>
        <div class="carousel-item">
            <Image src={s} alt="Imagem S" />
        </div>
        <div class="carousel-item">
            <Image src={u} alt="Imagem U" />
        </div>
        <div class="carousel-item">
            <Image src={i} alt="Imagem I" />
        </div>
        <div class="carousel-item">
            <Image src={j} alt="Imagem J" />
        </div>
        <div class="carousel-item">
            <Image src={h} alt="Imagem H" />
        </div>

        <!-- imagens repetidas pra dar ilusão de loop -->

        <div class="carousel-item">
            <Image src={leila_falando} alt="Leila falando" />
        </div>
        <div class="carousel-item">
            <Image src={leila_palestra} alt="Leila palestra" />
        </div>
        <div class="carousel-item">
            <Image
                src={leila_palestra_pandemia}
                alt="Leila palestra durante a pandemia"
            />
        </div>
        <div class="carousel-item">
            <Image src={m} alt="Imagem M" />
        </div>
        <div class="carousel-item">
            <Image src={n} alt="Imagem N" />
        </div>
        <div class="carousel-item">
            <Image src={k} alt="Imagem K" />
        </div>
        <div class="carousel-item">
            <Image src={s} alt="Imagem S" />
        </div>
        <div class="carousel-item">
            <Image src={u} alt="Imagem U" />
        </div>
        <div class="carousel-item">
            <Image src={i} alt="Imagem I" />
        </div>
        <div class="carousel-item">
            <Image src={j} alt="Imagem J" />
        </div>
        <div class="carousel-item">
            <Image src={h} alt="Imagem H" />
        </div>
        <div class="carousel-item">
            <Image src={leila_falando} alt="Leila falando" />
        </div>
    </div>
</div>
